html {
  scroll-behavior: smooth;
}

#home {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: white;
  padding: 50px;
}

.card img {
  height: 200px;
  object-fit: cover;
}

#categories-section .card img {
  height: 180px;
  object-fit: cover;
}

#about img {
  max-height: 200px;
  object-fit: cover;
  margin-top: 10px;
}

.map-container {
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;
    border-radius: 0.5rem; /* Rounded corners */
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Removes the default border */
}

.btn-primary {
    background-color: #28A745; /* Theme's green for primary buttons */
    border-color: #28A745;
}

.btn-primary:hover {
    background-color: #1e7e34;
    border-color: #1c7430;
}

.btn-success {
    background-color: #007BFF; /* Blue for success buttons, inverted from the primary */
    border-color: #007BFF;
}

.btn-success:hover {
    background-color: #0056b3;
    border-color: #004095;
}

footer {
  font-size: 14px;
}
